.video-list-container {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  column-gap: 1.5rem;
  row-gap: 3rem;
  padding: 0.5rem 1.5rem;
  background-color: var(--background-color);
}
