.auth-outer-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: var(--background-color);
}

.auth-box {
  padding: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  max-width: 30rem;
  border-radius: 0.5rem;
  color: var(--text-color);
  background-color: var(--nav-background-color);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.auth-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.auth-link-container {
  color: var(--yellow-600);
  display: flex;
  gap: 0.2rem;
}

.auth-input {
  width: 100%;
  font-size: 1rem;
  padding: 0.5rem 0.75rem;
  background-color: var(--nav-background-color);
  border: 1px solid var(--text-secondary-color);
  border-radius: 0.25rem;
  transition: 0.2s all ease;
  color: var(--text-color);
}
.auth-link {
  cursor: pointer;
  color: var(--secondary-color);
}
.auth-input:hover {
  border: 1px solid var(--text-secondary-color);
  border-radius: 0.25rem;
}
.auth-input:focus {
  background-color: var(--nav-background-color);
  outline: none;
  border: 2px solid var(--text-secondary-color);
  border-radius: 0.25rem;
}

.auth-input-btn-container {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
}
