.video-card-container {
  display: flex;
  justify-self: auto;
  align-self: center;
  flex-direction: column;
  gap: 0.7rem;
  max-width: 20rem;
  color: var(--text-color);
}
.video-card-header-container {
  display: flex;
  font-size: 0.95rem;
  gap: 1rem;
  padding-left: 0.375rem;
  position: relative;
  cursor: pointer;
}
.video-card-header-menu {
  margin-left: auto;
  cursor: pointer;
}

.video-card-subheader-container {
  font-size: 0.75rem;
  padding-left: 0.375rem;
  color: var(--text-secondary-color);
  display: flex;
  justify-content: space-between;
}

.video-card-image {
  object-fit: cover;
  cursor: pointer;
}
@media only screen and (max-width: 750px) {
  .video-card-container {
    max-width: none;
  }
}
