.video-list-aside-container {
  height: 100vh;
  position: sticky;
  top: 4rem;
  overflow-y: scroll;
  left: 0;
  background-color: var(--nav-background-color);
  display: flex;
  width: 250px;
  flex-direction: column;
  gap: 1rem;
  overflow: hidden;
}
.video-list-aside-item {
  display: flex;
  padding: 0.75rem 1.5rem;
  align-items: center;
  gap: 2rem;
  font-weight: 600;
}
.video-list-aside-item:hover {
  background-color: var(--nav-background-hover-color);
  cursor: pointer;
}
.text-display-none {
  display: none;
}
@media only screen and (max-width: 1200px) {
  .video-list-aside-item-text {
    display: none;
  }
  .video-list-aside-container {
    width: auto;
  }
}

.nav-link-active {
  background-color: var(--blue-800);
  color: var(--yellow-400);
}
.nav-link {
  background-color: transparent;
  color: var(--text-color);
}
