.chips-outer-container {
  position: absolute;
  width: 100%;
  height: auto;
}
.chips-container {
  padding: 1rem;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  overflow: auto;
  gap: 1rem;
}
.chips-container::-webkit-scrollbar {
  display: none;
}
.prev-btn {
  background-color: var(--background-color);
  height: 100%;
  padding: 0 0.5rem;
  color: var(--white-color);
  position: absolute;
  left: 0;
  top: 0;
}
.next-btn {
  background-color: var(--background-color);
  height: 100%;
  padding: 0 0.5rem;
  color: var(--white-color);
  position: absolute;
  right: 0;
  top: 0;
}
