.outer-container {
  display: flex;
}
.aside-container {
  flex: 0 1 250px;
}
.main-container {
  flex-grow: 1;
  width: 100vw;
}
@media only screen and (max-width: 1200px) {
  .aside-container {
    flex-basis: 0;
  }
}
@media only screen and (max-width: 1050px) {
  .aside-container {
    display: none;
  }
}
