.outer-container {
  display: flex;
  width: 100vw;
  flex-grow: 1;
}

.aside-container {
  flex: 0 1 250px;
}
.main-container {
  flex: 1 1 auto;

  display: flex;
  flex-direction: column;
  position: relative;
  background-color: var(--background-color);
  color: var(--text-color);
}
.outlet-container {
  padding-bottom: 15rem;
}
@media only screen and (max-width: 1200px) {
  .aside-container {
    flex-basis: 0;
  }
}
@media only screen and (max-width: 1050px) {
  .aside-container {
    display: none;
  }
  .main-container {
    min-height: calc(100vh - 115px);
  }
}
@media only screen and (max-width: 750px) {
  .main-container {
    min-height: calc(100vh - 122px);
  }
}
