.hero-video-thumbnail-container {
  height: calc(100vh - 64px);
}

.home-hero-img-container {
  display: grid;
  width: 100vw;
}
.home-hero-img-container::before {
  content: '';
  position: absolute;
  background-color: var(--black-color);
  width: 100vw;
  height: calc(100vh - 64px);
  opacity: 0.8;
  z-index: 1;
  left: 0;
}
.home-hero-image {
  grid-area: 1/1/5/5;
  height: calc(100vh - 64px);
}

.home-hero-image-text {
  grid-area: 3/1/4/2;
  display: flex;
  width: 100vw;
  color: var(--text-color);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  opacity: 1;
  padding: 1rem;
  color: var(--white-color);
  z-index: 1;
}
.home-hero-subheading {
  font-size: 1.3rem;
}

@media screen and (max-width: 750px) {
  .hero-video-thumbnail-container {
    height: calc(100vh - 96px);
  }
  .home-hero-img-container::before {
    height: calc(100vh - 96px);
  }
  .home-hero-image {
    height: calc(100vh - 96px);
  }
}
