body {
  background-color: var(--background-color);
  color: var(--text-color);
  overflow-x: hidden;
}
.color-text-secondary {
  color: var(--text-secondary-color);
}
.fill-like {
  color: var(--red-400);
}
.fill-watch-later {
  color: var(--yellow-600);
}
.app {
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 500px) {
  :root {
    font-size: 14px;
  }
}
