:root {
  --nav-background-color: #000000;
  --background-color: #2d2d2d;
  --text-color: #ffffff;
  --text-secondary-color: #aaaaaa;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
