.details-video-section {
  padding: 1.5rem;
}
.details-video-container {
  height: 70vh;
}
.details-video-footer {
  padding: 1.25rem 0;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.details-video-footer-text {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-right: auto;
}
.details-video-footer-buttons {
  display: flex;
  gap: 0.75rem;
  margin-left: auto;
  flex-wrap: wrap;
}
.details-video-footer-button {
  display: flex;
  align-items: center;
  gap: 0.15rem;
  font-size: 1rem;
  border-radius: 1rem;
  cursor: pointer;
}
.hr {
  border: 0;
  height: 1px;
  background: var(--grey-600);
  background-image: linear-gradient(
    to right,
    var(--grey-600),
    var(--grey-200),
    var(--grey-600)
  );
}
@media only screen and (max-width: 750px) {
  .details-video-container {
    height: 50vh;
  }
  .details-video-footer {
    flex-direction: column;
  }
}
