.video-details-outer-container {
  display: flex;
  padding: 2rem;
  background-color: var(--background-color);
  color: var(--text-color);
  gap: 2rem;
  justify-content: space-between;
}
.video-details-list-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex-shrink: 0;
}
.details-video-section {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 1.75rem;
}
.details-video-container {
  height: 70vh;
}
.details-video-footer {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.details-video-footer-text {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-right: auto;
}
.details-video-footer-buttons {
  display: flex;
  gap: 0.75rem;
  margin-left: auto;
  flex-wrap: wrap;
}
.details-video-footer-button {
  display: flex;
  align-items: center;
  gap: 0.15rem;
  font-size: 1rem;
  border-radius: 1rem;
  cursor: pointer;
}
.hr {
  border: 0;
  height: 1px;
  background: var(--grey-600);
  background-image: linear-gradient(
    to right,
    var(--grey-600),
    var(--grey-200),
    var(--grey-600)
  );
}
.video-details-comment-outer-component {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
.video-details-comment-input-container {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.comment-section-avatar {
  padding: 0.25rem 0.5rem;
  background-color: var(--yellow-400);
  font-size: 1.2rem;
  border-radius: 100%;
  font-weight: 650;
  color: var(--text-color);
}
#comment-section {
  display: block;
  resize: none;
  overflow-y: hidden;
  outline: none;
  border: none;
  font-family: inherit;
  color: var(--text-color);
  background-color: var(--background-color);
  border-bottom: 1px solid var(--text-color);
  width: 100%;
  font-size: 0.9rem;
}
.comment-section-footer {
  display: flex;
  justify-content: flex-end;
  gap: 0.375rem;
}
.comment-section-footer .btn {
  padding: 0.25rem 0.5rem;
}
.btn.background-danger:hover {
  background-color: var(--red-600);
  border: 2px solid var(--red-600);
}

.video-details-comment-container {
  display: flex;
  flex-direction: column;
  padding-top: 1.5rem;
  gap: 1.5rem;
}
.video-details-comment {
  display: flex;
  align-items: flex-start;
  gap: 0.375rem;
}
.video-details-each-comment-container {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
@media only screen and (max-width: 750px) {
  .video-details-outer-container {
    flex-direction: column;
    padding: 0.1rem;
  }
  .details-video-container {
    height: 30vh;
  }
  .details-video-footer {
    flex-direction: column;
    padding: 0 1rem;
  }
  .video-details-comment-outer-component {
    padding: 0 1rem;
  }
}
