.nav-mobile-up {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-left {
  display: flex;
  flex-direction: row;
  padding: 0.5rem 0.2rem;
}
.navigation {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background: var(--nav-background-color);
  padding: 0.25rem 0.25rem;
  position: sticky;
  top: 0;
  z-index: 2;
  width: 100vw;
  min-height: 4rem;
}
.nav-logo-container {
  height: max-content;
  width: 7rem;
  display: flex;
  align-items: center;
}
.search-container {
  display: flex;
}

.input-search-button {
  display: flex;
  width: 3rem;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--grey-400);
  border-left: none;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  background: var(--background-color);
  cursor: pointer;
  color: var(--text-color);
}
.nav-mob {
  display: none;
}
.nav-logo-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  cursor: pointer;
}
.nav-search {
  width: 35rem;
}

.nav-text-input {
  font-size: 1rem;
  padding: 0.5rem 0.75rem;
  transition: 0.4s all ease;
  background-color: var(--nav-background-color);
  color: var(--text-color);
  border: 1px solid var(--grey-400);
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}
.nav-text-input:focus {
  outline: none;
  border: 1px solid var(--secondary-color);
}
.nav-text-input::placeholder {
  color: var(--text-secondary-color);
}
.nav-right {
  padding: 0 0.375rem;
}

.nav-link-icon {
  font-size: 1.75rem;
}
.nav-link-item {
  cursor: pointer;
}
.nav-link-item-btn {
  padding: 0.25rem 0.375rem;
}
.nav-links {
  padding: 0;
  padding-right: 0.4rem;
  color: var(--text-color);
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.theme-btn {
  font-size: 1.5rem;
}

@media screen and (max-width: 1000px) {
  .nav-search {
    width: 25rem;
  }
  .nav-mob {
    display: block;
  }
  .nav-links {
    padding-right: 0rem;
  }
}
@media screen and (max-width: 750px) {
  .navigation {
    height: max-content;
    padding-bottom: 1rem;
  }
  .home-nav {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 500px) {
  .nav-search {
    width: 18rem;
  }
  .navigation {
    height: max-content;
    padding-bottom: 1rem;
  }
}
